{% extends 'base.html' %}
{% block title %}Error{% endblock %}

{% block content %}
<div class="max-w-2xl mx-auto mt-20 text-center">
    <h1 class="text-4xl font-bold text-red-600">⚠ Error</h1>
    <p class="text-lg text-gray-700 mt-4">{{ message }}</p>
    
    {% if user.is_authenticated %}
        {% if user.role == "patient" %}
            <a href="{% url 'patient_dashboard' %}" class="text-blue-600 hover:underline">🔙 Back to Dashboard</a>
        {% elif user.role == "admin" %}
            <a href="{% url 'admin_dashboard' %}" class="text-blue-300 hover:underline mr-4">🔙 Back to Dashboard</a>
        {% elif user.role == "doctor" %}
            <a href="{% url 'doctor_dashboard' %}" class="text-blue-300 hover:underline mr-4">🔙 Back to Dashboard</a>
        {% endif %}
    {% else %}
        <a href="{% url 'home' %}" class="bg-green-500 px-4 py-2 rounded">🔙 Back to home</a>
    {% endif %}

    
</div>
{% endblock %}
