{% extends 'base.html' %} 

{% block title %}Register{% endblock %} 

{% block content %}
<div class="flex justify-center items-center h-full">

    <div class="bg-white shadow-lg p-8 rounded-lg lg:w-96 w-[700px] lg:h-auto h-[750px] ">
        <h2 class="lg:text-2xl text-5xl font-bold text-center mb-4">Register</h2>
    
        {% if messages %}
        <div class="mb-4">
            {% for message in messages %}
            <p class="text-red-500 text-sm">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    
        <form method="POST">
            {% csrf_token %}
    
            <label class="block font-semibold mb-2 text-gray-700 lg:text-base text-4xl">Username</label>
            <input
                type="text"
                name="username"
                required
                placeholder="enter your name"
                class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 lg:text-base text-4xl"
            />
    
            <label class="block font-semibold mt-4 mb-2 text-gray-700 lg:text-base text-4xl">Email</label>
            <input
                type="email"
                name="email"
                required
                placeholder="enter your email"
                class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 lg:text-base text-4xl"
            />
    
            <label class="block font-semibold mt-4 mb-2 text-gray-700 lg:text-base text-4xl">Password</label>
            <div class="relative w-full">
                <input 
                    id="password" 
                    type="password" 
                    name="password" 
                    required 
                    placeholder="*****"
                    class="w-full px-4 py-2 border rounded-lg focus:ring-2 lg:text-base text-4xl focus:ring-blue-500"
                />
                <button type="button" onclick="togglePassword()" class="absolute right-3 top-2 text-gray-500">
                    👁
                </button>
            </div>
            <button
                type="submit"
                class="mt-4 w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition lg:text-base text-3xl"
            >
                Register
            </button>
        </form>
    
        <p class="mt-4 text-center text-gray-600 lg:text-base text-3xl">
            Already have an account?
            <a href="{% url 'login' %}" class="text-blue-500 font-medium lg:text-base text-3xl">Login</a>
        </p>
    </div>
</div>

<script>
    function togglePassword() {
        let passwordInput = document.getElementById("password");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }
</script>

{% endblock %}
